[submodule "lib/MLX42"]
	path = lib/MLX42
	url = https://github.com/codam-coding-college/MLX42.git
	branch = master
	ignore = untracked
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
	branch = master
[submodule "lib/libft"]
	path = lib/libft
	url = https://github.com/iAntopy/libft.git
	branch = master
[submodule "lib/mtxlib"]
	path = lib/mtxlib
	url = https://github.com/iAntopy/mtxlib.git
	branch = cub3d
