[submodule "libft"]
	path = lib/libft
	url = https://github.com/iAntopy/libft.git
	branch = master
[submodule "lib/MLX42"]
	path = lib/MLX42
	url = https://github.com/codam-coding-college/MLX42.git
	branch = master
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
	branch = master
